{% extends 'case_study/base.html' %}
{% load staticfiles %}

{% block content %}
<body id="about_body">

<br>
<div class="container">
<div class="about">
    <h4><strong>Cresosite </strong>- <em>towards a creative generation...</em></h4>
    <p>We are building a hub of professionals with a common interest in <strong><em>Creativity in engineering deisgn</em></strong>. As we transit to the fourth industrial revolution, with its promising digital and internet technologies, we are exploring opportunities to support creativity in engineering design with emergent computational technologies. At the Systems Realization Laboratory (SRL), University of Liverpool, we see a future economy powered by innovations and inventions through creativity. Our current research and case study are in view of this bright future. As a participant in this case study, you are supporting our research and a growing community of design engineers.</p>
    <p>An aspect of our research involves developing a computational creativity tool - <strong><em>Pro-Explora,</em></strong> to support design engineers in difficult creativity tasks. If you would like to try this tool, please indicate your interest while completing the case study. Be part of the hub that supports the engineering design community!</p>
    <br>
</div>
</div>
</body>

{% endblock %}
